<div id="<%= dom_id job %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= job.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= job.content %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Pay rate:</strong>
    <%= job.pay_rate %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Enrollment status:</strong>
    <%= job.enrollment_status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Enrollment location:</strong>
    <%= job.enrollment_location %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Published at:</strong>
    <%= job.published_at %>
  </p>

</div>
