<div id="<%= dom_id on_boarding %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">First Name:</strong>
    <%= on_boarding.first_name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Current address:</strong>
    <%= on_boarding.current_address %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Current address 2:</strong>
    <%= on_boarding.current_address_2 %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Current city:</strong>
    <%= on_boarding.current_city %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Current state:</strong>
    <%= on_boarding.current_state %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Current zip:</strong>
    <%= on_boarding.current_zip %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Current country:</strong>
    <%= on_boarding.current_country %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Dob:</strong>
    <%= on_boarding.dob %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">License:</strong>
    <%= on_boarding.license %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Drive experience:</strong>
    <%= on_boarding.drive_experience %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Endorsements:</strong>
    <%= on_boarding.endorsements %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Military:</strong>
    <%= on_boarding.military %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Veteran:</strong>
    <%= on_boarding.veteran %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Moving violations:</strong>
    <%= on_boarding.moving_violations %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Preventable accidents:</strong>
    <%= on_boarding.preventable_accidents %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Current status:</strong>
    <%= on_boarding.current_status %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Team:</strong>
    <%= on_boarding.solo_team %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Common freight:</strong>
    <%= on_boarding.common_freight %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Contact time:</strong>
    <%= on_boarding.contact_time %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Contact method:</strong>
    <%= on_boarding.contact_method %>
  </p>
</div>
