<div id="<%= dom_id inquiry %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">First Name:</strong>
    <%= inquiry.user.first_name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Middle Name:</strong>
    <%= inquiry.middle_name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= inquiry.current_address %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Address 2:</strong>
    <%= inquiry.current_address_2 %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= inquiry.current_city %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">State:</strong>
    <%= inquiry.current_state %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Zip:</strong>
    <%= inquiry.current_zip %>
  </p>
</div>
